body {
	background-color: #4e3246;
	color: #9b8816;
	font-family: 'comic_monobold', ui-monospace, monospace;
	font-size: 1.4rem;
}
h1 {
	font-size: 4rem;
}
.button {
	position: absolute;	
	top: 20px;
	right: 40px;
	font-family: 'comic_monobold', ui-monospace, monospace;
	font-size: 1.2rem;
	display: inline-block;
	padding: 10px 20px;
	background-color: #5d3a00;
	color: #f9ea9a;
	text-decoration: none;
	border: 1px solid #f98948;
	border-radius: 5px;
}
