body {
	background-color: #f1e9df;
	width: 960px;
	margin: 0 auto;
	padding: 60px 0 60px 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 60px;
	font-size: 1.1rem;
}
header {
	width: 160px;
	margin: 0 10px;
	grid-column: 1 / 2;
}
header h1 {
	color: #181818;
	margin-bottom: 20px;
	font-size: 2.13rem;
	line-height: 34px;
	letter-spacing: -1px;
}
header nav menu {
	list-style-type: none;
}
header nav menu li {
	margin-bottom: 10px;
	line-height: 18px;
}
header nav menu a {
	color: #555;
	font-size: 0.95rem;
	font-weight: bold;
	text-decoration: none;
}
main {
	margin: 0 10px;
	grid-column: 2 / 6;
}
main h2, main a {
	color: #333;
	margin-bottom: 30px;
	font-weight: bold;
}
main p {
	margin-bottom: 20px;
	text-align: justify;
}
main p.no-margin {
	margin-bottom: 0;
}
main ol {
	margin: 5px 0 20px 10px;
	list-style: decimal inside;
}
footer {
	margin: 0 10px;
	grid-column: 1 / 6;
}
footer address, footer p, footer a {
	color: #555;
}
